* {
    margin: 0;
    padding: 0;
  }

.navigation li {
    display: inline-block;
    color: #FFFFFF;
    width: 100px;
    padding-top: 15px;
    text-align: center;
    float: right;
}

.navigation{
    background-color: #000000;
    height: 50px;
    padding-right: 100px;
}

h1 {
    text-align: center;
    font-size: 26px;
    display: block;
}

.navigation .logo {
    color:#FFFFFF;
    display: inline-block;
    float: left;
    padding: 9px 100px 5px 100px;
    height: 16px;
}

.banner-image{
    height: 300px;
    width: 100vw;
    object-fit: cover;
    margin-top: 17px;
}