* {
    margin: 0;
    padding: 0;
  }


li {
    display: inline-block;
    color: #FFFFFF;
    width: 200px;
    text-align: center;
    padding-top: 15px;
}

nav {
    background-color: #000000;
    height: 50px;
}
.navigation{
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 26px;
    display: block;
    padding-top: 25px;
}